# Diretórios e arquivos gerados automaticamente pelo Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# Arquivos de configuração do projeto
.settings/
.loadpath
.recommenders

# Arquivos temporários e de cache
.classpath
.project
*.launch

# Arquivos específicos de outras IDEs (se aplicável)
.idea/
*.iml
*.ipr
*.iws

# Outros diretórios e arquivos comuns a serem ignorados
*.log
.DS_Store

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
